@tailwind base;
@tailwind components;
@tailwind utilities;

h1{
  font-family: "Sen", sans-serif;
  font-weight: bold;
  font-size: 48px;
  line-height: 64px;
}

h2{
  font-family: "Sen", sans-serif;
  font-weight: bold;
  font-size: 36px;
  line-height: 48px;
}
h3{
  font-family: "Sen", sans-serif;
  font-weight: bold;
  font-size: 28px;
  line-height: 36px;

}
h4{
  font-family: "Sen", sans-serif;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;

}
h5{
  font-family: "Sen", sans-serif;
  font-weight: bold;
  font-size: 20px;
  line-height: 32px;

}
h5{
  font-family: "Sen", sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;

}
.body1 {
  @apply font-sans font-normal text-[16px] leading-[28px] text-[#6D6E76];
}
body2{
  font-family: "Sen", sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #6D6E76;
}
.label{
  font-family: "Sen", sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
}

.button{
  @apply bg-yellow md:p-[18px] p-[6px] md:px-16 px-6 font-bold mt-6
}
.custom-btn {
  @apply flex flex-row relative justify-center items-center py-3 px-6 outline-none;
}

@keyframes slide {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

.sliding-images-wrapper {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 225px; /* Adjust based on image height */
}

.sliding-images {
  display: flex;
  width: 200%; /* Double the width for smooth scrolling */
  animation: slide 20s linear infinite;
}

.sliding-images img {
  width: 200px; /* Adjust based on the number of images to fit in the container */
  height: 200px;
}

@media (max-width: 414px){
  .sliding-images img{
    width:100px;
    height: 100px;
  }
  .sliding-images {
    display: flex;
    width: 300%; /* Double the width for smooth scrolling */
    animation: slide 20s linear infinite;
  }
}

